# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

fv.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.egg-info
build
_skbuild
dist

.DS_Store
.vscode/*
.clang-format
CMakeUserPresets.json

*.pyd
*.pyc
__pycache__/

projects
build-test

examples/box/ret-box
examples/box_l/ret-box

.cache/
.venv/
.mypy_cache/

build-pypgo
papers/
site/

examples/cubic-box/ret-cubic-box/*
examples/cubic-box/ret-cubic-box0/*
examples/cubic-box-ipc/ret-cubic-box-penalty/*
examples/dragon-cubic/ret-dragon-cubic/*
examples/dragon-cubic/ret-dragon-cubic0/*
examples/cubic-box-ipc/ret-cubic-box-ipc/*
examples/cubic-box-ipc/ret-cubic-box-ipc-ls/*
examples/pulled-cubic-box-self-ipc/ret-pulled-cubic-box-self-ipc/*
examples/box/ret-box-ipc/*

*.log
examples/dragon-cubic/dragon-cubic.log
